@font-face {
  font-family: OpenSansBold;
  src: url("../fonts/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: OpenSansBoldItalic;
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: OpenSansExtraBold;
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: OpenSansExtraBoldItalic;
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: OpenSansItalic;
  src: url("../fonts/OpenSans-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: OpenSansLight;
  src: url("../fonts/OpenSans-Light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: OpenSansLightItalic;
  src: url("../fonts/OpenSans-LightItalic.ttf");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: OpenSansSemiBold;
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: OpenSansSemiBoldItalic;
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: PassionOneBlack;
  src: url("../fonts/PassionOne-Black.ttf");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: PassionOneBold;
  src: url("../fonts/PassionOne-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: PassionOne;
  src: url("../fonts/PassionOne-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
