* {
    box-sizing: border-box;
}

*:after,
*:before {
    box-sizing: border-box;
}


/* reset5 © 2011 opensource.736cs.com MIT */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
menu,
meter,
nav,
output,
progress,
section,
summary,
time,
video {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section,
blockquote {
    display: block;
}

nav ul {
    list-style: none;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

ul ul {
    list-style: circle;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

ins {
    text-decoration: underline;
}

del {
    text-decoration: line-through;
}

mark {
    background: none;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input[type=submit],
input[type=button] {
    margin: 0!important;
    padding: 0!important;
}

input,
select,
a img {
    vertical-align: middle;
}

.d_none {
    display: none !important;
}

.clearfix {
    clear: both;
}

.container {
    max-width: 1024px;
    min-height: 768px;
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
}

body {
    background: url("../img/bg.png") no-repeat #fff4eb;
}

header span {
    background: url("../img/header.png") center bottom no-repeat;
    height: 32px;
    width: 169px;
    display: block;
    padding: 45px 0 0 40px;
}

section {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}


/*SECTION: LOGIN*/

section.login {
    max-width: 470px;
    width: 100%;
    position: relative;
}

section.login h3,
section p {
    color: #44433c;
}

section.login .login {
    background: url("../img/logo.png") center center no-repeat;
    height: 272px;
    width: 165px;
    display: block;
    margin: -20px auto 45px;
}

section.login h3 {
    line-height: 45px;
    font: 45px 'Passion One';
}

section.login p {
    font-size: 15px;
    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 27px;
    padding: 10px 0 0;
}

section.login p strong {
    font-weight: 800;
}

section.login form {
    padding: 50px 0 0;
}

#logout {
    padding: 0 0 0;
    display: inline-block;
    vertical-align: middle;
}

section.login form input {
    border-radius: 25px;
}

section.login form .email {
    font: 16px 'Open Sans';
    color: #a9a9a9;
    line-height: 16px;
    border: 1px solid #eaeaea;
    background: #e9e9e9;
    padding: 10px 20px;
    width: 275px;
    margin-right: 25px;
}

section.login form .error,
section.logged form .error {
    border-color: #d30601 !important;
    color: #d30601 !important;
}

section.login span.errormsg,
section.logged span.errormsg {
    font-size: 18px;
    font-family: 'Passion One', sans-serif;
    font-weight: bold;
    color: #d30601;
    display: inline-block;
    padding: 10px 0 0 5px;
    display: none;
}

section.login form input[type=submit],
section.logged form input[type=submit] {
    border-radius: 25px;
    font: 22px 'Passion One';
    color: #44433c;
    width: 105px;
    height: 50px;
    display: inline-block;
    background: #ffcb05;
    border: none;
    border-bottom: 5px solid #daa815;
    cursor: pointer;
    transition: all 0.2s ease;
}

section.login form input[type=submit]:hover,
section.logged form input[type=submit]:hover {
    background: #ffd20d;
}

section.login form input[type=submit]:active,
section.logged form input[type=submit]:active,
section.shortlist .shortlist-titles button.active {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3b834+0,efa700+1,efab00+3,f5ad00+5,efa800+8,efaa00+11,efa700+12,efad00+15,f1a700+17,efab00+19,f1a700+23,efad00+26,efad00+33,f4b200+35,f0ae00+38,f7b500+42,efaf00+45,f1b700+49,f7b700+54,f7bd00+56,f1bd00+59,f7bf00+61,f5c500+65,f7c700+70,f7ce06+73,f7ce02+75,f7d307+77,fed617+80,f7d617+84,f9d91c+87,f7de21+89,fce328+93,f7e029+96,fee530+98,e7bc0d+100 */
    background: #eebc02;
}

section.login .loginmsg {
    font: 38px 'Passion One';
    padding: 230px 0;
    display: inline-block;
    color: #44433c;
    position: relative;
}

section.login .loginmsg:before {
    background: url("../img/loginmsg.png") 0 0 no-repeat;
    margin: 0 auto;
    display: block;
    width: 95px;
    height: 166px;
    content: "";
}

section.login .loginmsg .u {
    text-decoration: underline;
    color: #44433c;
}

section.login .welcome {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    padding: 50px 0 0;
    display: inline-block;
}

section.login .welcome strong {
    font-family: 'Open Sans';
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
  section.login .login{
    margin-top: 30px;
  }
  #logout{
    display: block;
    margin: 10px auto;
  }
}
@media only screen and (max-width: 600px) {
    section.login form input[type=submit] {
        display: block;
        margin: 10px auto !important;
    }
    section.login form input[type=email] {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
}


/*END: LOGIN*/


/*SECTION: LOGGED*/

section.logged,
section.ideias,
section.ideiadomes,
section.shortlist {
    max-width: 900px;
    width: 100%;
    padding: 0 0 130px;
}

section.logged .cadastre-ideia {
    display: inline-block;
}

section.logged .content {
    width: 100%;
}

section.logged nav label {
    width: 100px;
    height: 50px;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    font-size: 0;
    text-align: center;
    background-color: #fff;
    margin: 0 30px 0 20px;
    border-bottom: 5px solid #d8ac00;
    cursor: pointer;
}

section.logged nav label:after {
    content: "";
    width: 70px;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
    background-color: #feca30;
}

section.logged nav label:before {
    content: "";
    width: 0;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}

section.logged nav label span {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    background-color: #feca30;
    border-bottom: 5px solid #d8ac00;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 12px;
    transition: all .4s ease;
}

section.logged nav input {
    opacity: 0;
    position: absolute;
}

section.logged nav label .slider:checked+ span {
    left: 60px;
}

section.logged nav {
    text-align: center;
    padding: 200px 0 40px;
}

section.logged nav a:before {
    content: "\003e";
    display: inline-block;
    vertical-align: bottom;
    margin: 0 5px 0 0;
}

section.logged nav a {
    text-decoration: none;
    color: #444139;
    font: 21px 'Passion One';
    position: relative;
    display: inline-block;
    top: 8px;
}

section.logged h2 {
    font: 38px 'Passion One';
    color: #44433c;
}

section.logged .showSuccess {
    font: 38px 'Passion One';
    padding: 230px 0;
    display: none;
    margin: 0 auto;
    color: #44433c;
    position: relative;
    text-align: center;
}

section.logged .showSuccess .voltarForm {
    border-radius: 25px;
    font: 22px 'Passion One';
    color: #44433c;
    width: 190px;
    height: 50px;
    display: block;
    padding: 10px 20px 0 20px;
    margin: 10px auto 0 auto;
    background: #fff;
    border: none;
    border-bottom: 5px solid #d8ac00;
    cursor: pointer;
    transition: all 0.2s ease;
}

section.logged form {
    padding: 40px 0 0;
    max-width: 930px;
    width: 100%;
    font-size: 0;
}

section.logged .regulamento li p {
    padding: 0;
}

section.logged .regulamento .center p {
    padding: 0;
}

section.logged .regulamento .center {
    text-align: center;
    margin: 20px 0;
}

section.logged .regulamento .listtitle {
    font-weight: bold;
    margin-bottom: 20px;
}

section.logged .regulamento ol {
    counter-reset: item;
}

section.logged .regulamento ol li {
    margin: 20px 0 0;
}

section.logged .regulamento ol ul li:before {
    display: none;
}

section.logged .regulamento ol ul li {
    list-style-type: disc;
    display: list-item;
}

section.logged .regulamento li {
    display: block;
    position: relative;
    padding-left: 30px;
    margin: 10px 0;
}

section.logged .regulamento li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
    display: inline-block;
    position: absolute;
    right: 100%;
    top: 0;
}

section.logged form div {
    display: inline-block;
    width: 50%;
    padding: 0 20px 20px 0;
}

section.logged form .full {
    width: 100%;
    display: block;
}

section.logged form div.error input[type="text"] {
    border-color: #d30601 !important
}

section.logged form div.error label {
    color: #d30601 !important
}

section.logged form div.error textarea {
    border-color: #d30601 !important
}

section.logged form label {
    display: block;
    font: 21px 'Passion One';
    padding: 0 0 10px;
    color: #44433c;
}

section.logged form div input[type="text"] {
  border-radius: 15px;
  width: 100%;
  padding: 15px;
  line-height: 21px;
  font-size: 21px;
  font-family: 'Open Sans';
  margin-top: 10px;
  color: #44433c;
  resize: none;
  display: block;
}

section.logged form textarea {
    border-radius: 15px;
    min-height: 170px;
    width: 100%;
    padding: 15px;
    line-height: 21px;
    font-size: 21px;
    font-family: 'Open Sans';
    margin-top: 10px;
    color: #44433c;
    resize: none;
    display: block;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font: 15px 'Open Sans';
}

::-moz-placeholder {
    /* Firefox 19+ */
    font: 15px 'Open Sans';
}

:-ms-input-placeholder {
    /* IE 10+ */
    font: 15px 'Open Sans';
}

:-moz-placeholder {
    /* Firefox 18- */
    font: 15px 'Open Sans';
}

;
section.logged form input[type="text"] {
    border-radius: 15px;
    min-height: 40px;
    width: 100%;
    padding: 5px;
    border: 1px solid #d4cece;
    line-height: 21px;
    font-size: 21px;
    font-family: 'Open Sans';
    margin-top: 10px;
    color: #d4cece;
    resize: none;
    display: block;
}

section.logged form input[type=submit] {
    margin: 0 10px 0 0 !important;
}

section.logged .errormsg {
    line-height: 50px;
}

section.logged div.regulamento {
    display: none;
}

section.logged .regulamento-bg {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    padding-right: 10px;
    max-height: 455px;
    overflow: hidden;
}

section.logged .regulamento h2 {
    padding: 0 0 20px;
}

section.logged .regulamento p {
    padding: 15px 0;
    font-size: 15px;
    line-height: 20px;
}

section.logged nav a {
    opacity: 0.5;
}

section.logged nav .active {
    opacity: 1;
}


/*END: LOGGED*/


/*SECTION: IDEIAS*/

section.ideias h2 {
    font: 38px 'Passion One';
    color: #44433c;
    padding: 0 0 40px;
}

section.ideias ul {
    list-style-type: none;
}

section.ideias ul li {
    position: relative;
    width: 225px;
    height: 280px;
    text-align: center;
    background-color: #f0ba29;
    display: inline-block;
    float: left;
}


section.ideias ul li a {
    text-decoration: none;
    font-size: 21px;
    font-family: 'Passion One';
    color: #fcf4ea;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: default;
}

section.ideias ul li.unblocked a {
  cursor: pointer;
}

section.ideias ul li.blocked {
    background: url("../img/locker.png") center center no-repeat;
}

section.ideias ul li.unblocked img {
    opacity: 0.3;
    transition: all .5s ease;
    z-index: 10;
    position: absolute;
    left: 0;
}

section.ideias ul li.unblocked a:hover> img {
    opacity: 1;
}

section.ideias ul li.unblocked .month {
    font-size: 18px;
}

section.ideias ul li.blocked .month,
section.ideias ul li.unblocked div {
    font-size: 28px;
}

section.ideias ul li.blocked .month {
    display: inline-block;
    padding: 235px 0 0;
}

section.ideias ul li.unblocked div {
    z-index: 15;
    display: inline-block;
    padding: 215px 0 0;
    position: relative;
    line-height: 20px;
}

section.ideias ul li:nth-child(1) {
    background-color: #feca30;
}

section.ideias ul li:nth-child(3) {
    background-color: #feca30;
}

section.ideias ul li:nth-child(6) {
    background-color: #feca30;
}

section.ideias ul li:nth-child(8) {
    background-color: #feca30;
}

section.ideias ul li:nth-child(2) {
    background-color: #f0ba29;
}

section.ideias ul li:nth-child(4) {
    background-color: #f0ba29;
}

section.ideias ul li:nth-child(5) {
    background-color: #f0ba29;
}

section.ideias ul li:nth-child(7) {
    background-color: #f0ba29;
}

section.ideias ul li .blackfont {
    color: #44433c;
}

section.ideias ul li:nth-child(1) {
    border-top-left-radius: 15px;
}

section.ideias ul li:nth-child(4) {
    border-top-right-radius: 15px;
}

section.ideias ul li:nth-child(5) {
    border-bottom-left-radius: 15px;
}

section.ideias ul li:nth-child(8) {
    border-bottom-right-radius: 15px;
}


/*END: IDEIAS*/


/*SECTION: IDEIADOMES*/

section.ideiadomes {
    color: #44433c;
}

section.ideiadomes .ideiadomes_img {
    position: relative;
    cursor: pointer;
    float: left;
    max-width: 256px;
    width: 100%;
    display: inline-block;
}

section.ideiadomes .ideiadomes_img:hover> div span.light-4 {
    top: -115px;
}

section.ideiadomes .ideiadomes_img:hover> div span.light-3,
section.ideiadomes .ideiadomes_img:hover> div span.light-5 {
    top: -70px;
}

section.ideiadomes .ideiadomes_img:hover> div span.light-3 {
    left: -35px;
}

section.ideiadomes .ideiadomes_img:hover> div span.light-5 {
    left: 265px;
}

section.ideiadomes .ideiadomes_img:hover> div span.light-1,
section.ideiadomes .ideiadomes_img:hover> div span.light-7 {
    top: 180px;
}

section.ideiadomes .ideiadomes_img:hover> div span.light-2,
section.ideiadomes .ideiadomes_img:hover> div span.light-6 {
    top: 40px;
}

section.ideiadomes .ideiadomes_img:hover> div span.light-2,
section.ideiadomes .ideiadomes_img:hover> div span.light-1 {
    left: -85px;
}

section.ideiadomes .ideiadomes_img:hover> div span.light-7,
section.ideiadomes .ideiadomes_img:hover> div span.light-6 {
    left: 325px;
}

section.ideiadomes .ideiadomes_img div span.light {
    display: inline-block;
    width: 24px;
    height: 61px;
    background: url("../img/light.png") 0 0 no-repeat;
    position: absolute;
    transition: all .4s ease;
}

section.ideiadomes .ideiadomes_img span.light-1 {
    transform: rotate(-98deg);
    top: 170px;
    left: -65px;
}

section.ideiadomes .ideiadomes_img span.light-2 {
    transform: rotate(-80deg);
    top: 60px;
    left: -65px;
}

section.ideiadomes .ideiadomes_img span.light-3 {
    transform: rotate(-35deg);
    top: -50px;
    left: -25px;
}

section.ideiadomes .ideiadomes_img span.light-4 {
    top: -90px;
    left: 115px;
}

section.ideiadomes .ideiadomes_img span.light-5 {
    transform: rotate(35deg);
    left: 255px;
    top: -50px;
}

section.ideiadomes .ideiadomes_img span.light-6 {
    transform: rotate(80deg);
    left: 305px;
    top: 60px;
}

section.ideiadomes .ideiadomes_img span.light-7 {
    transform: rotate(100deg);
    left: 305px;
    top: 170px;
}

section.ideiadomes .ideiadomes_img img {
    padding: 0 0 20px;
}

section.ideiadomes .ideiadomes_img .subtitle {
    text-align: center;
    padding: 20px 40px 5px;
    background-color: #f1ca31;
    color: #fcf4ea;
    font-family: 'Passion One';
    display: block;
    line-height: 30px;
    border-radius: 45px;
    transform: rotate(-14deg);
    width: 370px;
    margin: 0 0 0 -35px;
}

section.ideiadomes .ideiadomes_img .subtitle span {
    font-size: 40px;
    display: block;
}

section.ideiadomes .ideiadomes_img .subtitle .small {
    font-size: 25px;
}

section.ideiadomes article {
    max-width: 425px;
    width: 100%;
    display: inline-block;
    float: right;
    padding: 120px 0 0;
}

section.ideiadomes h3,
section.ideiadomes p {
    font-size: 15px;
    font-family: 'Open Sans';
}

section.ideiadomes h3 {
    font-weight: bold;
}

section.ideiadomes h2 {
    font: 40px 'Passion One';
}

section.ideiadomes p {
    padding: 20px 0 0;
    font-weight: 600;
    max-width: 423px;
    width: 100%;
    line-height: 25px;
}


/*END: IDEIADOMES*/


/*SECTION: SHORTLIST*/

section.shortlist h2 {
    font: 40px 'Passion One';
    color: #44433c;
}

section.shortlist .shortlist-titles {
    float: left;
    max-width: 300px;
    width: 100%;
    margin: 0 125px 0 0;
}

section.shortlist .shortlist-titles h2 {
    padding: 0 0 35px;
}

section.shortlist .shortlist-titles button {
    display: inline-block;
    background-color: #feca30;
    border: none;
    border-bottom: 5px solid #d8ac00;
    border-radius: 20px;
    margin: 0 0 25px;
    padding: 10px 15px;
    max-width: 300px;
    width: 100%;
    text-align: left;
    font-size: 22px;
    font-family: 'Passion One';
    cursor: pointer;
    color: #44433c;
    transition: all .5s ease;
}

section.shortlist .shortlist-titles button:hover {
    background-color: #ffd20d;
}

section.shortlist article p {
    font-weight: 600;
    line-height: 25px;
    padding: 25px 0 0;
    display: inline-block;
    max-width: 475px;
    width: 100%;
}

section.shortlist article.hidden {
    display: none;
}


/*END: SHORTLIST*/


/*SECTION: PRE-FOOTER*/

section.pre-footer {
    max-width: 900px;
    width: 100%;
    padding: 0 0 24px;
    position: relative;
}

section.pre-footer button.backtotop {
    display: inline-block;
    border: none;
    background: none;
    font-size: 20px;
    font-family: 'Passion One';
    color: #44433c;
    position: relative;
    padding: 10px 90px 0 50px;
    cursor: pointer;
}

section.pre-footer button.backtotop:before {
    display: block;
    background: url("../img/backtotop.png") 0 0 no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    width: 40px;
    content: "";
}

section.pre-footer a.dm9ddb,
section.pre-footer a.herois {
    display: inline-block;
    vertical-align: middle;
}

section.pre-footer a.dm9ddb {
    margin: 0 60px 0 0;
    width: 169px;
    height: 32px;
    background: url("../img/header.png") 0 0 no-repeat;
}

section.pre-footer a.herois {
    width: 89px;
    height: 148px;
    background: url("../img/logo-footer.png") 0 0 no-repeat;
}


/*END: PRE-FOOTER*/


/*FOOTER*/

footer {
    max-width: 180px;
    width: 100%;
    display: block;
    position: fixed;
    bottom: -35px;
    right: 15%;
    transform: rotate(-45deg);
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer h5,
footer h6 {
    height: 45px;
    border-radius: 25px;
    padding: 10px;
    line-height: 14px !important;
    transition: all .5s ease;
    text-align: center;
}

footer span {
    position: absolute;
    transition: all .5s ease;
}

footer h5 span {
    right: -40px;
}

footer h6 span {
    right: 0;
}

footer h5 {
    font: 18px 'Passion One';
    background: #e5ac04;
    color: #444139;
    width: 245px;
}

footer h6 {
    font: 14px 'Open Sans';
    background: #444139;
    color: #fff;
    width: 205px;
}

footer a:hover> h5 {
    width: 280px;
}

footer a:hover> h5 span {
    right: -70px;
}

footer a:hover> h6 {
    width: 240px;
}

footer a:hover> h6 span {
    right: -30px;
}


/*END: FOOTER*/


/*RESPONSIVE LAYOUTS*/

@media only screen and (max-width: 900px) {
    section.ideiadomes .ideiadomes_img {
        float: none;
        margin: 0 auto;
        display: block;
    }
    section.ideiadomes article {
        display: block;
        margin: 0 auto;
        float: none;
    }
}

@media only screen and (max-width: 985px) {
    .container {
        padding: 0 40px;
    }
    section.logged .content {
        width: 100%;
    }
    section.logged form {
        width: 100%;
        float: none;
    }
    section.logged form textarea {
        width: 100%;
        clear: both;
    }
    section.logged form div {
        display: block;
        width: 100%;
        padding-right: 0;
    }
    section.ideias ul li {
        border-radius: 0 !important;
    }
    section.shortlist .shortlist-titles {
        padding-right: 25px;
    }
    section.shortlist article p {
        display: block;
    }
    footer {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    section.ideiadomes .ideiadomes_img {
        max-width: 100%;
        text-align: center;
    }
    section.ideiadomes {
        position: relative;
    }
    section.ideiadomes .bg-responsive {
        width: 100%;
        height: 243px;
        bottom: 100%;
        position: absolute;
        background: url("../img/light-small.png") center no-repeat;
        background-size: 100% auto;
        margin-bottom: -163px;
        transform: scale(1.2);
    }
    section.ideiadomes .ideiadomes_img .subtitle {
        width: 305px;
    }
    section.ideiadomes .ideiadomes_img img {
        width: 80%;
    }
    section.ideiadomes .ideiadomes_img div {
        display: none;
    }
    section.shortlist .shortlist-titles {
        float: none;
    }
    section.logged .regulamento-bg {
        padding: 15px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 500px) {
    section.shortlist {
        padding-left: 120px;
    }
    section.shortlist .shortlist-titles {
        max-width: 470px;
    }
    section.shortlist .shortlist-titles button {
        max-width: 100%;
    }
}

@media only screen and (max-width: 670px) {
    section.pre-footer button.backtotop {
        width: 280px;
        margin: 0 auto;
        display: block;
        padding-right: 50px;
    }
    section.pre-footer a {
        display: block !important;
        margin: 30px auto !important;
        padding: 0 !important;
    }
    section.logged nav {
        padding-top: 100px;
    }
    section.logged nav a {
        display: block;
        padding: 10px 0 20px;
    }
}

@media only screen and (max-width: 500px) {
    section.ideias ul {
        display: block;
    }
    section.ideias ul li {
        float: none;
        margin: 0 auto;
        display: block;
    }
    section.logged nav a {
        padding: 10px 0 20px;
    }
    section.logged nav label {
        display: block;
        margin: 0 auto;
    }
    section.logged .errormsg {
        display: block;
    }
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.scroll-pane {
    height: 400px;
    max-height: 400px;
    width: 100% !important;
    position: relative;
}

.jspContainer {
    position: relative;
    width: 100% !important;
}

.jspPane {
    position: absolute;
    width: 100% !important;
    padding-right: 25px !important;
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 100%;
    background: url('../img/bg-line-scroll.png') no-repeat center;
    background-repeat: repeat-y;
}

.jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: red;
}

.jspCap {
    display: none;
}

.jspHorizontalBar .jspCap {
    float: left;
}

.jspTrack {
    position: relative;
}

.jspDrag {
    background: url('../img/bg-scroll.png') no-repeat center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 59px !important;
    background-size: contain;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}

.jspArrow {
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.jspArrow.jspDisabled {
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow {
    height: 16px;
}

.jspHorizontalBar .jspArrow {
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus {
    outline: none;
}

.jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%;
}


/* Yuk! CSS Hack for IE6 3 pixel bug :( */

* html .jspCorner {
    margin: 0 -3px 0 0;
}
